<div class="header">
  <div class="header-nav">
    <ul class="logo">
      <li>
        <%= link_to root_path, data: {"turbolinks" => false}, class: "link" do %>
          <img src="/assets/Logo.png" alt="">
        <% end %>
      </li>
    </ul>
    <ul class="nav-links">
      <% if user_signed_in? %>
        <div class="profile-img">
          <%= link_to user_path(current_user), class: "userShow-link" do %>
            <% if current_user.profile_img.attached? %>
              <%= image_tag current_user.profile_img, class: "img" %>
            <% else %>
              <%= image_tag 'no-profile.png', class: "img" %>
            <% end %>
          <% end %>
        </div>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link logout" %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path, class: "link" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "link" %></li>
      <% end %>
    </ul>
  </div>
  <% if flash[:notice].present? %>
    <div class="notice"><%= notice %></div>
  <% end %>
  <% if flash[:alert].present? %>
    <div class="alert"><%= alert %></div>
  <% end %>
</div>