<!DOCTYPE html>
<html>
  <head>
    <title>F-Tag</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <div id="header">
      <%= render 'shared/header' %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
